<div class="title">To be or not to be</div>

<ul class="quotes">
    <li class="quotes__item">If you think your teacher is tough, wait till you get a boss</li>
    <li class="quotes__item">Life is not fair — get used to it!</li>
    <li class="quotes__item">Success is a lousy teacher. It seduces smart people into thinking they can’t lose</li>
    <li class="quotes__item">Be nice to nerds. Chances are you’ll end up working for one</li>
</ul>

<div class="biography">
    <img src="https://uznayvse.ru/images/celebs/2020/5/geyts_big.jpg" alt="" class="biography__img">
    <div class="biography__description">
        Билл Гейтс родился в Сиэтле (штат Вашингтон, США) в семье корпоративного адвоката Уильяма Генри Гейтса II, а также Мэри Максвелл Гейтс, которая занимала руководящие должности в совете директоров нескольких крупнейших американских компаний. Билл был вторым ребенком в семье, у него есть две сестры – старшая Кристи и младшая Либби. Судя по фамилиям предков, в роду гения присутствуют представители нескольких национальностей: немцы, шотландцы и англичане.
<p></p>
Когда мальчик пошел в школу, родители записали его в самое привилегированное учебное заведение Сиэтла – «Лейксайд». Уже в раннем возрасте любимым предметом для Билла оказалось программирование. Будучи подростком, американец написал свою первую игру на языке BASIC. Хоть это и были только «Крестики-нолики», но они стали отправной точкой в его будущих успехах профессиональной биографии.
    </div>
</div>